:root {
  --body-background: #000104;

  --body-text-color: #ffffff;

  --bg-image: url("/cdn/images/vuebg.jpg");

  --fs-x-large: calc(2.3rem + 4.5vw);
  --fs-large: calc(1.625rem + 4.5vw);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style-type: none !important;
}

button,
input,
textarea {
  box-shadow: none !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background) !important;
  color: var(--body-text-color) !important;
}

.fs-x-large {
  font-size: var(--fs-x-large) !important;
}

.fs-large {
  font-size: var(--fs-large) !important;
  font-weight: 601 !important;
  line-height: 1.1;
}
.fw-large {
  font-weight: 650 !important;
  line-height: 1.1;
}

.body-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
